<nav class="nav nav-pills flex-column flex-sm-row bg-white mb-4 shadow rounded" role="tablist">
	<%= link_to '#calendar', class: "flex-sm-fill text-sm-center nav-link" do %>
		Calendar
	<% end %>

	<%= link_to '#all-meetings', class: "flex-sm-fill text-sm-center nav-link" do %>
		All Meetings
	<% end %>
</nav>

<div class="tab-content"></div>