<div class="container m-auto px-4">
	<h1 class="mt-4">Schedule New Session</h1>

	<p class="text-gray-dark mb-5">
		Schedule a new consulting session by choosing the best time that works for you below.
	</p>

	<%= render 'form', meeting: @meeting %>

</div>